/* Copyright 2013 The Swarming Authors. All rights reserved.
 * Use of this source code is governed by the Apache v2.0 license that can be
 * found in the LICENSE file.
 */
table.alterning_background {
  border: 1;
  border-color: black;
  border-collapse: collapse;
}

table.alterning_background thead {
  color: #fff;
  background-color: #000;
  padding-left: 1em;
  padding-right: 1em;
}

table.alterning_background tbody tr:nth-child(even) {
  background-color: #eeeeee;
}

table.alterning_background td {
  padding-left: 1em;
  padding-right: 1em;
}

table.alterning_background tbody .request {
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

table.alterning_background tbody .dead_machine {
  background-color: #ffdddd !important;
}

table.alterning_background tbody .failed_test {
  background-color: #ffdddd !important;
}
