<!DOCTYPE html>
<html>
<!-- Copyright 2013 The Swarming Authors. All rights reserved.
Use of this source code is governed by the Apache v2.0 license that can be
found in the LICENSE file. -->
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <title>{{ title or "Isolate Server" }}</title>
  <link rel="stylesheet" type="text/css" href="/default.css"/>
</head>
<body>
  {% block body %}
  {% endblock %}
  <hr>
  <div style="float: left;"><p>
    <a target="_blank" href="https://code.google.com/appengine/"><img border="0"
    src="https://code.google.com/appengine/images/appengine-noborder-120x30.gif"
    alt="Powered by Google App Engine" /></a></p>
  </div>
  {% if app_version %}
    <div style="float: right; text-align: right;">
      <div style="margin-top: 1.2em; color: #777; font-size: 14px;">
        Server version
        {% if app_revision_url %}
          <a href="{{app_revision_url}}" target="_blank">{{app_version}}</a>
        {% else %}
          {{app_version}}
        {% endif %}
      </div>
    </div>
  {% endif %}
</body>
</html>
