<!DOCTYPE html>
<html>
<head>
  <title>Swarming Server Error Report</title>
  <link rel="stylesheet" type="text/css" href="/swarm_style.css"/>
</head>
<body>

<div style="text-align: right;">
  <p>{{topbar|safe}}</p>
</div>

{{content|safe}}

<div style="float: left;"><p>
  <a target="_blank" href="https://code.google.com/appengine/"><img border="0"
   src="https://code.google.com/appengine/images/appengine-noborder-120x30.gif"
   alt="Powered by Google App Engine" /></a>
  </p></p>
</div>

</body>
</html>
