<!DOCTYPE html>
<html>
<head>
  <title>Test Request Server</title>
  <link rel="stylesheet" type="text/css" href="/swarm_style.css"/>
</head>
<body>

<div style="text-align: right;"><p>{{topbar|safe}}</p></div>

<h1>IP Whitelist</h1>
<table id="request-table" class="alterning_background"
    summary="This table lists all test requests">
  <thead>
    <th>IP</th>
    <th>Password</th>
    <th>Action</th>
  </thead>
  <tbody>
    {% for whitelist in whitelists %}
      <tr class="request">
        <td>{{whitelist.ip}}</td>
        <td>{{whitelist.password}}</td>
        <td>
          <form id="remove_{{whitelist.key}}" method="post"
              action={{whitelist.url}}>
            <input type="hidden" name="a" value="False"/>
            <input type="hidden" name="i" value="{{whitelist.ip}}" />
            <button onclick="document.getElementById('remove_{{whitelist.key}}').submit()">
              remove</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <h1>Add New:</h1>
  <form name="input" action="{{change_whitelist_url|safe}}" method="post">
    IP (x.x.x.x): <input type="text" name="i" />
    Password: <input type="text" name="p" />
    <input type="hidden" name="a" value="True">
    <input type="submit" value="Submit" />
  </form>
</div>

<div style="float: left;">
  <a target="_blank" href="https://code.google.com/appengine/"><img border="0"
   src="https://code.google.com/appengine/images/appengine-noborder-120x30.gif"
   alt="Powered by Google App Engine" /></a>
</div>

</body>
</html>
