<!DOCTYPE html>
<html>
<head>
  <title>Runner Wait Times Broken Down By Minute</title>
  <link rel="stylesheet" type="text/css" href="/swarm_style.css"/>
</head>
<body>

<div style="text-align: right;">
  <p>{{topbar|safe}}</br>
  {{stat_links|safe}}
</div>

<div style="text-align: right;">
  Days to Show:
  <select id="days_to_show"
      onchange="document.location.href='?days=' + this.value">
    <option value="">-</option>
    {% for day in max_days_to_show %}
      <option value='{{day}}'>{{day}}</option>
    {% endfor %}
  </select>
</div>

{% for dimensions, waits in wait_breakdown|dictsort %}
  <h1>Wait Times for "{{dimensions}}"</h1>
  <table id="wait-times-breakdown-{{loop.index0}}"
      class="alterning_background">
    <thead>
      <th>Minutes Waited</th>
      <th>Number of Runners</th>
    </thead>
    <tbody>
      {% for count in waits %}
        <tr class="request">
          <td>{{loop.index0}}</td>
          <td>{{count}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}

<div style="float: left;"><p>
  <a target="_blank" href="https://code.google.com/appengine/"><img border="0"
   src="https://code.google.com/appengine/images/appengine-noborder-120x30.gif"
   alt="Powered by Google App Engine" /></a>
 </p></p>
</div>

</body>
</html>
